html{
    width: 100%;
    height: 100%;
}
body{
    background-color: rgb(58, 57, 58);
    color: white;
    font-style: Microsoft Yahei;
    font-weight: bold;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
.song-title-input-container{
    font-size: 20px;
}
.song-title-input-container span{
    line-height: 15px;
}
#songTitleInput{
    background-color: rgba(58, 57, 58,0);
    border: 2px solid white;
    border-radius: 5px;
    vertical-align: middle;
    width: CALC(100% - 100px);
    height: 20px;
    font-size: 18px;
    color: white;
}
.song-title-input-container button{
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
}
.song-list{
    margin-top: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 90px);
    border: 10px solid rgb(100, 100, 100);
    overflow-y: auto;
}
.song-list-single-bar{
    border: 3px dashed rgb(100, 100, 100);
    padding-left: 20px;
    font-size: 20px;
    margin-top: -3px;
}
.song-list-single-bar span{
    vertical-align: middle;
}
.song-list-single-bar button{
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
}
.updateBtn-container{
    width: 100%;
    height: 30px;
}
#updateBtn{
    width: calc(50% - 2.5px);
    height: 100%;
    border: 0;
    font-size: 25px;
    font-weight: bold;
}
#showBtn,#hideBtn{
    width: calc(25% - 3.7px);
    height: 100%;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    vertical-align: top;
    line-height: 30px;
}
button{
    border-radius: 0;
    border: 0;
    background-color: rgb(140, 140, 140);
    color: rgb(240, 240, 240);
}
button:hover{
    background-color: rgb(160, 160, 160);
}
button:active{
    background-color: rgb(120, 120, 120);
}