@page {
  size: A4;
  margin: 0;
}

@media print {

  .paper-single {
    background-color: black;
    height: 210mm;
    width: 297mm;
    margin: 0 auto;
  }

  /* ... the rest of the rules ... */
}


.paper-single {
  background-color: black;
  height: 210mm;
  width: 297mm;
  /* border: 2px solid red; */
  /* margin: 0 auto; */
}

body {
  margin: 0;
}